body {
  background-image: linear-gradient(
      to bottom,
      rgba(250, 248, 246, 0.94),
      transparent 20%
    ),
    url('../assets/mainpage_background.webp');
}

#content {
  text-align: justify;
}

h2 {
  margin-left: 10px;
  font-style: italic;
}

p {
  margin: 10px;
  font-weight: bolder;
  font-size: 18px;
}

#content span {
  color: rgb(136, 59, 4);
  font-style: italic;
  font-size: 20px;
  margin: 0;
  cursor: default;
}

img {
  border-radius: 3px;
  margin: 20px;
  width: 200px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
}

#main-container > .quote--container {
  max-width: 270px;
}

#main-container > .quote--container > .quote {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

@media (min-width: 576px) {
  #content {
    display: inline-block;
    padding: 20px;
    margin-top: 50px;
  }
  img {
    float: right;
    margin-top: 10px;
  }

  #main-container > .quote--container {
    position: absolute;
    top: 20px;
    right: 5px;
    border-bottom: 1px solid rgb(136, 59, 4);
  }

  #main-container > .quote--container > .quote {
    color: rgb(136, 59, 4);
  }
}

@media (min-width: 768px) {
  #main-container {
    flex-direction: row;
    justify-content: space-between;
  }

  #content {
    margin: 30px 0;
    max-width: 800px;
  }

  #main-container > .quote--container {
    position: absolute;
    border-bottom: 2px solid rgba(250, 248, 246);
    right: 30px;
    bottom: 30px;
    top: auto;
  }

  #main-container > .quote--container > .quote {
    color: rgba(250, 248, 246);
  }
}

@media (min-width: 1200px) {
  #content {
    margin: 30px;
  }
}
