* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sorts Mill Goudy', serif;
  color: rgb(192, 99, 38);
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(246, 241, 241);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.link-container {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}

nav .closebtn {
  position: absolute;
  top: 0;
  left: 200px;
  font-size: 36px;
  margin-left: 50px;
}

a,
span {
  text-decoration: none;
  font-style: italic;
  margin: 10px 20px;
}

.link-container a:visited {
  color: rgb(192, 99, 38);
}

.link-container a:hover {
  color: rgb(253, 198, 19);
}

.active {
  text-decoration: underline 0.15rem;
  text-underline-offset: 0.5rem;
}

#span-holder {
  align-self: flex-start;
  width: 160px;
  height: 50px;
  text-align: center;
  margin: 30px;
  padding-top: 5px;
  border-radius: 3px;
}

#span-holder > p {
  font-size: 24px;
  cursor: pointer;
}

#menu {
  margin: 10px;
}

span {
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 30px 30px;
}

#content, .details-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 3px;
  font-weight: bolder;
  background-color: rgba(250, 248, 246, 0.8);
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
  padding: 10px;
  border-radius: 3px;
  letter-spacing: 0.8px;
  width: 100%;
}

.quote {
  position: relative;
  letter-spacing: 0.03em;
  margin-bottom: 0.5rem;
  color: rgba(250, 248, 246, 0.94);
  font-weight: lighter;
  text-align: center;
}

.quote::before {
  content: '“';
}

.quote::after {
  content: '”';
}

.quote--container {
  display: flex;
  flex-direction: column;
  width: 320px;
  border-bottom: 2px solid rgba(250, 248, 246);
  padding-bottom: 0.5rem;
  margin: 20px;
}
