#background {
  width: 1519px;
  /* height: 740px; */
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to right,
      rgb(221, 204, 204, 0.6),
      transparent 15%,
      rgb(30, 28, 24)
    ),
    url(../assets/mainpage_background.png);
  background-size: 100%;
}

#main-container {
  display: flex;
  justify-content: space-between;
}

#quote-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 1000px;
  /* color: rgba(192, 99, 38, 0.8); */
}

.author {
  padding-left: 270px;
  color: rgba(250, 248, 246);
  font-style: italic;
}
