#background {
  width: 1519px;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to right,
      rgb(221, 204, 204, 0.6),
      transparent 15%,
      rgb(30, 28, 24)
    ),
    url(../assets/mountain_sunrise.jpg);
  background-size: 140%;
  background-repeat: no-repeat;
}

#main-container {
  display: flex;
  justify-content: space-between;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  font-size: 18px;
}

#quote-intro {
  text-align: justify;
  background-color: rgba(250, 248, 246, 0.74);
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
  width: 800px;
  height: 100%;
  margin: 30px;
  padding: 20px;
  border-radius: 3px;
  font-weight: bold;
}

#quote-intro span {
  color: rgb(136, 59, 4);
  font-size: 20px;
  margin: 0;
}

#quote-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.author {
  padding-left: 270px;
  color: rgba(250, 248, 246);
  font-style: italic;
}
