body {
  background-image: linear-gradient(
      to bottom,
      rgb(251, 250, 247),
      transparent 15%
    ),
    url('../assets/pexels-tim-eiden-1222561.jpg');
}

#content {
  background: none;
  box-shadow: none;
}

.details-box {
  margin: 30px 0;
  text-align: justify;
}

.details-box ul {
  list-style-type: none;
}

.question {
  width: 300px;
  cursor: pointer;
}

.hide {
  display: none;
  /* margin-left: 30px; */
  /* width: 700px; */
}

.details-box:hover {
  width: 100%;
}

.question:hover + .hide {
  display: block;
}

h3 {
  font-style: italic;
  font-size: 20px;
}

p {
  margin: 5px 0 5px 0;
  font-size: 18px;
}

.details-box span,
.comment {
  font-size: 18px;
  margin: 0;
  color: rgb(136, 59, 4);
  text-decoration: none;
}

.details-box ol {
  padding-left: 40px;
  line-height: 1.5;
}

.details-box li {
  margin: 10px 0;
}
