body {
  background-image: linear-gradient(
      to bottom,
      rgb(251, 247, 247),
      transparent 20%
    ),
    url('../assets/mountain_sunrise.jpg');
}

iframe {
  width: 90vw;
  max-width: 576px;
  height: 400px;
  margin: 20px;
}

@media (min-width: 1200px) {
  #content {
    flex-direction: row;
  }

  iframe {
    margin-left: 50px;
  }
}
