body {
    background-image: linear-gradient(
        to bottom,
        rgb(251, 250, 247),
        transparent 15%
      ),
      url('../assets/pexels-tim-eiden-1222561.jpg');
  }
  
  #content {
    background: none;
    box-shadow: none;
    padding: 0px;
    margin: 0;
  }