#background {
  width: 1519px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to right,
      rgb(251, 247, 247),
      transparent 20%
    ),
    url(../assets/pexels-tim-eiden-1222561.jpg);
  background-size: 100%;
}

#main-container {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

#klári {
  margin: 30px;
  margin-left: 120px;
}

img {
  border-radius: 120px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
}

#introduction-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(251, 247, 247, 0.74);
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
  width: 800px;
  margin: 30px;
  padding: 10px;
  border-radius: 3px;
  text-align: justify;
}

p {
  margin: 10px;
  font-weight: bolder;
  font-size: 18px;
}
