body {
  background-image: linear-gradient(
      to bottom,
      rgb(251, 247, 247),
      transparent 20%
    ),
    url('../assets/pexels-tim-eiden-1222561.jpg');
}

#content {
  text-align: justify;
  max-width: 1000px;
}

#quote-intro {
  padding: 20px;
  border-radius: 3px;
  max-width: 92%;
}

#quote-intro span {
  color: rgb(136, 59, 4);
  font-size: 20px;
  margin: 0;
}

#quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#content > #quote-box > .quote--container {
  border-bottom: 1px solid rgb(136, 59, 4);
}

#quote-box > .quote--container > .quote {
  color: rgb(136, 59, 4);
}

.author {
  align-self: flex-end;
  font-style: italic;
}

@media (min-width: 768px) {
  #main-container {
    flex-direction: row;
    justify-content: space-between;
  }

  #content {
    margin: 20px;
  }
}

@media (min-width: 1024px) {
  #main-container {
    justify-content: flex-start;
  }

  #quote-box {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .prices-box {
    margin-right: 10px;
  }
}

@media (min-width: 1900px) {
  #content {
    max-width: 1800px;
  }
}
