body {
  background-image: url(../assets/pexels-tim-eiden-1222561.jpg);
}

#content {
  text-align: center;
  background-color: linear-gradient(
    to bottom,
    rgb(30, 28, 24),
    rgba(17, 15, 13, 0.8)
  );
}

h2 {
  font-style: italic;
  margin: 10px;
}

p {
  margin: 10px;
  font-size: 18px;
}

.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid {
  font-size: 28px;
  margin: 0;
}

.fa-facebook {
  padding: 3px;
  padding-top: 6px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(192, 99, 38);
  color: white;
  border-radius: 5px;
}

#image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
  background-image: url('../assets/Nagy_Klára3.webp');
  background-size: cover;
  background-position: center;
}
