#background {
  width: 1519px;
  height: 740px;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to right,
      rgb(221, 204, 204, 0.6) 10%,
      transparent,
      rgb(30, 28, 24)
    ),
    url(../assets/pexels-tim-eiden-1222561.jpg);
  background-size: 100%;
}

#main-container {
  display: flex;
  justify-content: space-between;
}

#contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 30px;
  margin-left: 200px;
  padding: 20px;
  border-radius: 3px;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-style: italic;
  margin: 10px;
}

p {
  margin: 10px;
  font-size: 18px;
}

#contact,
.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  margin-right: 10px;
}

.fa-solid {
  font-size: 28px;
  margin: 0;
}

.fa-facebook {
  padding: 3px;
  padding-top: 6px;
  /* font-size: 24px; */
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  background: #3b5998;
  color: white;
  border-radius: 5px;
}

#klári {
  margin: 30px;
  margin-right: 180px;
}

img {
  border-radius: 50%;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
}
