/* body {
  background-size: 100%;
  background-repeat: no-repeat;
  /* shape-outside: url('../assets/output-onlinepngtools.png'); */
/* }  */
#background {
  width: 1519px;
  height: 740px;
  /* background-color: red; */
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, rgb(251, 247, 247), transparent),
    url(../assets/mainpage_background.png);
  background-size: 100%;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quote {
  position: relative;
  letter-spacing: 0.03em;
  margin-bottom: 0.5rem;
  color: white;
  font-weight: lighter;
}

.quote::before {
  content: '“';
  position: absolute;
  left: -0.7em;
}

.quote:after {
  content: '”';
  margin-right: -1rem;
}

.quote--container {
  margin: 4.5rem auto 0;
  width: 17em;
  border-bottom: 2px solid white;
  padding-bottom: 0.5rem;
  position: absolute;
  bottom: 100px;
  right: 60px;
}

#content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  background: linear-gradient(
    rgba(250, 248, 246, 0.9),
    transparent,
    rgba(250, 248, 246, 0.9)
  );
  width: 800px;
  padding: 10px;
  border-radius: 3px;
}

#text {
  display: flex;
  flex-direction: column;
  width: 600px;
  letter-spacing: 0.8px;
  text-align: justify;
}

h2 {
  margin: 20px;
  margin-left: 10px;
  font-style: italic;
}

p {
  margin: 10px;
  font-weight: bolder;
  font-size: 18px;
}

#klári {
  border-radius: 3px;
  margin: 10px;
  width: 200px;
}
