#background {
  width: 1519px;
  height: 740px;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to right,
      rgba(250, 248, 246, 0.94),
      transparent 40%
    ),
    url(../assets/mainpage_background.png);
  background-size: 100%;
}

#main-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.quote {
  position: relative;
  letter-spacing: 0.03em;
  margin-bottom: 0.5rem;
  color: rgba(250, 248, 246, 0.94);
  font-weight: lighter;
}

.quote::before {
  content: '“';
  position: absolute;
  left: -0.7em;
}

.quote:after {
  content: '”';
  margin-right: -1rem;
}

.quote--container {
  width: 220px;
  border-bottom: 2px solid rgba(250, 248, 246);
  padding-bottom: 0.5rem;
  position: absolute;
  bottom: 100px;
  right: 60px;
}

#content {
  display: flex;
  align-items: center;
  background: linear-gradient(
    rgba(250, 248, 246, 0.94),
    transparent,
    rgba(250, 248, 246, 0.94)
  );
  width: 800px;
  margin: 30px;
  padding: 10px;
  border-radius: 3px;
}

#text {
  display: flex;
  flex-direction: column;
  width: 600px;
  letter-spacing: 0.8px;
  text-align: justify;
}

h2 {
  margin: 20px;
  margin-left: 10px;
  font-style: italic;
}

p {
  margin: 10px;
  font-weight: bolder;
  font-size: 18px;
}

#klári {
  border-radius: 3px;
  margin: 10px;
  width: 200px;
}
